body{
    background-color: #FDFDFD;
    padding: 50px;
}

#header{
    color: #FDFDFD;
    background-color: #E7473C;
    border-radius: 15px 0 15px 0;
    display: flex;
    align-self: center;
    justify-content: space-between;
    padding: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    vertical-align: middle;
    position: relative;
    align-items: baseline;
}

#header a i{
    margin: 35px 5px 0 0;
    height: 80px;
    width: 80px;
    font-weight: lighter;
}

.menuBar i{
    display: none;
}

#header a, #header button{
    color: #FDFDFD;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    vertical-align: middle;
    font-size: larger;
    font-weight: bolder;
    border: 2px solid transparent;
    background-color: transparent;
    /* margin: 28px 8px 0 0; */
}
#header button{
    color: #FDFDFD;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    vertical-align: middle;
    font-size: larger;
    font-weight: bolder;
    /* margin: 28px 8px 0 0; */
}
#header .register a:hover{
    font-size: 20px;
    font-weight: bolder;
    /* margin: 26px 4px 0 0; */
    transform: 0.9s;
}

.register{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    z-index: 10;
    max-width: 80%;
    background-color: #FDFDFD;
    border-radius: 8px;
    padding: 50px 100px 50px 100px;
}
.register.active{
    transform: translate(-50%, -50%) scale(1);
}

.registerHeader{
    color: #E7473C;
    font-size: 42px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-bottom: 3px solid #E7473C;
    padding: 0 0 20px 0;
    display: flex;
    justify-content: space-between;
    vertical-align: baseline;
}
.closeRegister{
    background-color: transparent;
    border: none;
    outline: none;
    font-weight: bold;
    font-size: 1.25rem;
    vertical-align: baseline;
    color: #E7473C;
}
.registerForm{
    margin: 15px 0 0 0;
    color: #E7473C;
    font-size: 24px;
    
}
.registerForm input{
    font-size: 18px;
    padding: 20px;
    border: 2px solid #000000;
    border-radius: 0 10px 0 10px;
    /* margin-bottom: 5px; */
}
.registerForm label{
    font-size: 12px;
}
.registerForm label a{
    color: #000000;
}
.registerForm button{
    border-radius: 0 0 0 0;
    display: block;
    justify-content: center;
    text-align: center;
    border: solid 2px #E7473C;
    background-color: #E7473C;
    color: #FDFDFD;
    font-weight: bolder;
    padding: 15px;
    margin: 30px;
}

#overlay{
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0, 0, 0, .6);
    pointer-events: none;
    transition: 200ms ease-in-out;

}
#overlay.active{
    opacity: 1;
    pointer-events: all;
}

.nav{
    padding: 20px 80px 20px 80px;
    position: relative;
    /* position: fixed; */
    
}

.nav{
    position: -webkit-sticky;
    position: sticky;
    top: 10vh;
    list-style: none;
    justify-content: space-between;
    display: flex;
    
}

.nav li a{
    color: #E7473C;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 18px;
}

.nav li a:hover{
    color: #FF5C51;
    text-decoration: underline #FF5C51 3px ;
    text-underline-offset: 20px;

    transition: 0.5;
}




.responsiveNav{
    position: -webkit-sticky;
    position: sticky;
    /* top: 10vh; */
    list-style: none;
    padding: 10px 0 10px 10px;
    justify-content: right;
    transition: 200ms ease-in-out;
    z-index: 10; 
    display: none;
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
}
.responsiveNav li{
    margin-top: 15px;
}

.responsiveNav li a{
    color: #E7473C;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 18px;
} 

.responsiveNav li a:hover{
    color: #FF5C51;
    text-decoration: underline #FF5C51 3px ;
    transition: 0.5;
    text-underline-offset: 5px;
}
.responsiveNav div{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    border-top: 2px solid #E7473C;
    padding: 10px 5px 0 5px;
    color: #E7473C;
}





.landingPage{
    display: flex;
    justify-content: space-between;
    /* height: 19vh; */
    vertical-align: baseline;
}
.landingPage h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 64px;
}
.landingPage h1 span{
    font-size: 64px;
}

.landingPageContent{
    color: #E7473C;
    vertical-align: middle;
    margin: 5px 5px 20px 50px;
}
.landingPageContent h4 i{
    margin: 0 6px 0 0;
}
.landingPageContent div{
    font-weight: lighter;
    font-size: 20px;
    margin: -40px 0 0 0;
}

.countDown div{
    display: flex;
    vertical-align: middle;
    margin: 70px 10px 0 0;

}
.countDown div p{
    background-color: #E7473C;
    width: 60px;
    height: 60px;
    color: #FDFDFD;
    text-align: center;
    vertical-align: middle;
    margin: 6px;
    padding: 20px 5px 5px 5px;
    border-radius: 0 5px 0 5px;
    vertical-align: middle;
    font-size: 11px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-items: center;
}

.countDown div p span{
    font-size: 22px;
    padding: 20px 5px 5px 5px;
}

.countDown div p:hover{
    margin: -5px 6px 6px 6px;
    transition: 0.5s;
}

#about, #speakers, #testimonials{
    margin: 50px 0 50px 0;
}

#about, #speakers, #testimonials, h2{
    text-align: left;
    color: #E7473C;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#about p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #000000;
    text-align: justify;
}

.speakerContainer, .testimonialContainer{
    display: grid;
    grid-template-columns: 50% 50%;
}

.speakerInfo, .testimonialInfo{
    border: 2px;
    border-radius: 0 10px 0 10px;
    padding: 20px;
    text-align: justify;
    color: #000000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-shadow: 2px 2px 5px #E7473C;
    margin: 20px 20px 20px 20px;
    padding: 20px;
    
}

.speakerInfo:hover{
    margin: 15px 20px 25px 20px;
    transition: 0.5s;
}
.testimonialInfo:hover{
    margin: 15px 20px 25px 20px;
    transition: 0.5s;
}

.speakerInfo img{
    border: 2px solid #000000;
    border-radius: 4px;
    height: 50%px;
    width: 40%;
}

.speakerInfo h5{
    float: right;
    font-size: 26px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.speakerInfo h5 span{
    color: #E7473C;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.speakersSocials{
    display: flex;
    justify-content: center;
    margin: 20px 0 0 0;
}

.speakersSocials a{
    color: #E7473C;
    width: 50px;
    height: 50px;
    text-decoration: none;
}

.speakersBio{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 15px;
    color: #000000;
    text-align: justify;
}



.testimonialInfo i{
    align-self: center;
    justify-self: center;
    justify-content: center;
    /* width: 200px;
    height: 200px; */
}

.registerButton{
    justify-content: center;
}

.registerButton button{
    border: solid 2px #E7473C;
    border-radius: 0 20px 0 20px;;
    background-color: #E7473C;
    color: #FDFDFD;
    font-weight: bolder;
    padding: 20px;
    margin: 30px;
}
.registerButton button:hover{
    background-color: #FDFDFD;
    color: #E7473C;
    transition: .3s;
}

.registerForm button:hover{
    background-color: #FDFDFD;
    color: #E7473C;
    transition: .3s;
}

#sponsors{
    margin: 80px 0px 0px 0px;
    justify-content: center;
    align-content: center;
}

#sponsors ul{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-column-gap: 2px;
    grid-column: 9;
    grid-template-rows: 2;
    grid-row: 2;
}

    
#sponsors ul li a img{
    height: 150px;
    width: 150px;
}


footer{
    color: #FDFDFD;
    background-color: #E7473C;
    border-radius: 15px 15px 0 0;
    display: block;
    align-self: center;
    justify-content: space-between;
    padding: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    vertical-align: middle;
    position: relative;
}

#contact p{
    color: #FDFDFD;
    text-align: justify;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#contact a{
    color: #FDFDFD;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#contact a:hover{
    color: blue;
    transition: .3s;
}

.eventPolicy{
    margin-top: 10px;
}

footer div a{
    color: #FDFDFD;
}

footer div a:hover{
    color: blue;
    transition: .3s;
}








/* Responsive Screen 1 */


@media (max-width: 1024px) {
    body{
        padding: 10px;
    }
    #header{
        border-radius: 15px 0 15px 0;
        display: flex;
        align-self: center;
        justify-content: space-between;
        padding: 15px;
    }
    .menuBar i{
        display: block;
        margin: 0 10px 0 0;
    }
    .menuBar .fa-x{
        margin-top: -16px;
    }
    #header a i{
        display: none;
    }


    .registerHeader{
        font-size: 38px;
    }
    

    .responsiveNav div a{
        color: #E7473C;
    }

    

    .speakerInfo h5{
        font-size: 18px;
    }

    .speakerInfo h5 span{
        font-size: 14px;
    }

    .speakersBio{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin-top: 15px;
        color: #000000;
        text-align: justify;
        font-size: 14px;
    }






    .hideOnMobile{
        display: none;
    }
}

@media (max-width: 768px){
    body{
        padding: 10px;
    }
    #header{
        border-radius: 15px 0 15px 0;
        display: flex;
        align-self: center;
        justify-content: space-between;
        padding: 15px;
    }
    .menuBar i{
        display: block;
        margin: 0 10px 0 0;
    }
    .menuBar .fa-x{
        margin-top: -16px;
    }
    #header a i{
        display: none;
    }
    

    .responsiveNav div a{
        color: #E7473C;
    }

    .landingPage{
        display: block;
        justify-content: center;
        align-items: center;
        align-content: center;
        /* height: 50vh; */
        padding: 0;
        margin: 0;

    }
    .landingPage h1, .landingPage h1 span{
        font-size: 54px;
    }
    .countDown div{
        margin: 40px 10px 0 0;
    }
    
        
    #sponsors ul li a img{
        height: 80px;
        width: 80px;
    }


    .registerHeader{
        font-size: 34px;
    }

    .speakerContainer, .testimonialContainer{
        display: block;
        /* grid-template-columns: 50% 50%; */
    }

    #sponsors ul{
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-column-gap: 2px;
        grid-column: 9;
        grid-template-rows: 2;
        grid-row: 2;
    }
    
        
    #sponsors ul li a img{
        height: 80px;
        width: 80px;
    }

    .speakerInfo h5{
        font-size: 30px;
    }

    .speakerInfo h5 span{
        font-size: 20px;
    }

    .speakersBio{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin-top: 15px;
        color: #000000;
        text-align: justify;
        font-size: 16px;
    }




    .hideOnMobile{
        display: none;
    }
}

@media (max-width: 600px){
    .speakerInfo h5{
        font-size: 24px;
    }

    .speakerInfo h5 span{
        font-size: 20px;
    }

    .speakersBio{
        font-size: 16px;
    }
    

    #sponsors ul{
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-column-gap: 2px;
        grid-column: 9;
        grid-template-rows: 2;
        grid-row: 2;
    }
    
        
    #sponsors ul li a img{
        height: 80px;
        width: 80px;
    }
}


@media (max-width: 500px) {
    .register{
        max-width: 60%;
        background-color: #FDFDFD;
        border-radius: 8px;
        padding: 25px 50px 25px 50px;
    }
    .registerHeader{
        font-size: 28px;
    }

    .speakerInfo h5{
        font-size: 18px;
    }

    .speakerInfo h5 span{
        font-size: 16px;
    }

    .speakersBio{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin-top: 15px;
        color: #000000;
        text-align: justify;
        font-size: 14px;
    }


    #sponsors ul{
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-column-gap: 2px;
        grid-column: 9;
        grid-template-rows: 2;
        grid-row: 2;
    }
    
        
    #sponsors ul li a img{
        height: 80px;
        width: 80px;
    }
}

@media (max-width: 400px){
    p{
        font-size: 14px;
    }
    .speakerInfo h5{
        font-size: 16px;
    }

    .speakerInfo h5 span{
        font-size: 14px;
    }

    .speakersBio{
        font-size: 12px;
    }
    #sponsors ul li a img{
        height: 60px;
        width: 60px;
    }
}

@media (max-width: 350px){
    p{
        font-size: 14px;
    }

    .landingPage h1{
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight: bold;
        font-size: 46px;
        margin-bottom: 50px;
    }
    .landingPage h1 span{
        font-size: 46px;
    }
    .landingPageContent h4{
        font-size: 20px;
    }
    



    .speakerInfo h5{
        font-size: 14px;
    }

    .speakerInfo h5 span{
        font-size: 12px;
    }

    .speakersBio{
        font-size: 10px;
    }
    #sponsors ul li a img{
        height: 50px;
        width: 50px;
    }
}
